Order deny,allow
Deny from all

<Files *.jpg>
    Allow from all
</Files>

<Files *.png>
    Allow from all
</Files>

<Files *.jpeg>
    Allow from all
</Files>

<Files *.gif>
    Allow from all
</Files>

php_flag engine off
